<!--<div >
	<div data-ng-show="HomeCookieStatus==-1" >
        <p>Login to get your greetings</p>
	</div>
	
	<div data-ng-hide="HomeCookieStatus==-1">
    	<h1>MY Home Page</h1>
    	<p>	Welcome {{HomeCookieStatus}}</p>
	</div>

</div>-->
<!--
<div class="#c5cae9 indigo lighten-4 row " align="center">

	<div align="center" class="col s4 #bbdefb blue lighten-4 section center-align" style="border-right: solid;border-right-color: white;padding-top: 5px">hamza</div>
	<div class="col s4 #bbdefb blue lighten-4" style=""	>hamza</div>

</div>-->
<!--category-->
<!--home-->
<img src="./src/Partials/partials/main.PNG" width="70%"> </img>