






<ul id="slide-out" class="side-nav">
    <!--	<li><a href="#!">Market</a></li>-->

    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Market<i class="mdi-navigation-arrow-drop-down"></i></a>
                <div class="collapsible-body">
                    <ul>
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li>
                                    <a class="collapsible-header">KSE-100<i class="mdi-navigation-arrow-drop-down"></i></a>
                                    <div class="collapsible-body">
                                        <ul>

                                            <li><a href="#!" style="color: #000066" >K-ELECTRIC</a></li>
                                            <li><a href="#!"  style="color: #000066">NATIONAL FOODS</a></li>
                                            <li><a href="#!"  style="color: #000066">OGDC</a></li>
                                            <li><a  href="#!"  style="color: #000066">K-ELECTRIC</a></li>
                                            <li><a href="#!"  style="color: #000066">ENGRO</a></li>
                                            <li><a href="#!"  style="color: #000066">NATIONAL FOODS</a></li>
                                            <li><a href="#!"  style="color: #000066">OGDC</a></li>
                                            <li><a  href="#!"  style="color: #000066">K-ELECTRIC</a></li>
                                            <li><a href="#!"  style="color: #000066">ENGRO</a></li>
                                            <li><a href="#!"  style="color: #000066">NATIONAL FOODS</a></li>
                                            <li><a href="#!"  style="color: #000066">OGDC</a></li>
                                            <li><a  href="#!"  style="color: #000066">K-ELECTRIC</a></li>
                                            <li><a href="#!"  style="color: #000066">ENGRO</a></li>
                                            <li><a href="#!"  style="color: #000066">NATIONAL FOODS</a></li>
                                            <li><a href="#!"  style="color: #000066">OGDC</a></li>
                                            <li><a  href="#!"  style="color: #000066">K-ELECTRIC</a></li>
                                            <li><a href="#!"  style="color: #000066">ENGRO</a></li>
                                            <li><a href="#!"  style="color: #000066">NATIONAL FOODS</a></li>
                                            <li><a href="#!"  style="color: #000066">OGDC</a></li>

                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#!">KSE-30</a></li>
                        <li><a href="#!">KMI30</a></li>
                        <li><a href="#!">ALL SHARES</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li><a href="#!">Industries</a></li>
    <li><a href="#!">Commodities</a></li>
    <li><a href="#!">Report</a></li>
</ul>





<ul id="slide-out" class="side-nav">
    <li><a href="#!">First Sidebar Link</a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Dropdown<i class="mdi-navigation-arrow-drop-down"></i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#!">First</a></li>
                        <li><a href="#!">Second</a></li>
                        <li><a href="#!">Third</a></li>
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li>
                                    <a class="collapsible-header">Dropdown<i class="mdi-navigation-arrow-drop-down"></i></a>
                                    <div class="collapsible-body">
                                        <ul>
                                            <li><a href="#!">First</a></li>
                                            <li><a href="#!">Second</a></li>
                                            <li><a href="#!">Third</a></li>




                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>




<ul id="slide-out" class="side-nav">
    <!--	<li><a href="#!">Market</a></li>-->

    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Market<i class="mdi-navigation-arrow-drop-down"></i></a>
                <div class="collapsible-body">
                    <ul>
                        <li class="no-padding">
                            <ul class="collapsible collapsible-accordion">
                                <li >
                                    <a class="collapsible-header">KSE-100<i class="mdi-navigation-arrow-drop-down"></i></a>
                                    <div class="collapsible-body">
                                        <ul style="padding-left:10% ">

                                            <li><a href="#!" style="color: #000066" >K-ELECTRIC</a></li>
                                            <li><a href="#!"  style="color: #000066">NATIONAL FOODS</a></li>
                                            <li><a href="#!"  style="color: #000066">OGDC</a></li>
                                            <li><a  href="#!"  style="color: #000066">K-ELECTRIC</a></li>
                                            <li><a href="#!"  style="color: #000066">ENGRO</a></li>
                                            <li><a href="#!"  style="color: #000066">NATIONAL FOODS</a></li>
                                            <li><a href="#!"  style="color: #000066">OGDC</a></li>
                                            <li><a  href="#!"  style="color: #000066">K-ELECTRIC</a></li>
                                            <li><a href="#!"  style="color: #000066">ENGRO</a></li>
                                            <li><a href="#!"  style="color: #000066">NATIONAL FOODS</a></li>
                                            <li><a href="#!"  style="color: #000066">OGDC</a></li>
                                            <li><a  href="#!"  style="color: #000066">K-ELECTRIC</a></li>
                                            <li><a href="#!"  style="color: #000066">ENGRO</a></li>
                                            <li><a href="#!"  style="color: #000066">NATIONAL FOODS</a></li>
                                            <li><a href="#!"  style="color: #000066">OGDC</a></li>
                                            <li><a  href="#!"  style="color: #000066">K-ELECTRIC</a></li>
                                            <li><a href="#!"  style="color: #000066">ENGRO</a></li>
                                            <li><a href="#!"  style="color: #000066">NATIONAL FOODS</a></li>
                                            <li><a href="#!"  style="color: #000066">OGDC</a></li>

                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#!">KSE-30</a></li>
                        <li><a href="#!">KMI30</a></li>
                        <li><a href="#!">ALL SHARES</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li><a href="#!">Industries</a></li>
    <li><a href="#!">Commodities</a></li>
    <li><a href="#!">Report</a></li>
</ul>

